# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/

# Pytest
.cache
.pytest_cache/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env
.env.*

# Virtualenv
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage reports
htmlcov/
.coverage
.coverage.*

# pipenv
Pipfile.lock

# docker
*.pid
celerybeat-schedule
